<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to video.try(:category).try(:title), video.category %>
  </p>

</div>
